@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@700&display=swap');

body {
    margin: 0;
  
}
.logo {
    position: relative;
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 5px;
    color: #fff;
    margin-top: 10px;
}
.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}